---
import { Icon } from "astro-icon/components";
---

<div class="flex gap-4">
  <a
    href="https://github.com/Ale-Code404"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Github profile">
    <Icon
      name="mdi:github"
      size={36}
    />
  </a>
  <a
    href="https://www.linkedin.com/in/alejandro-acosta-dev/"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Linkedin profile">
    <Icon
      name="mdi:linkedin"
      size={36}
    />
  </a>
</div>
