---
import SocialNetworks from "@components/portoflio/SocialNetworks.astro";
---

<footer
  class="flex items-center justify-between pt-4 pb-8 border-t-2 border-dotted border-t-zinc-700">
  <span class="text-sm">Made wtih ❤️ by <em>Alejandro Acosta</em></span>
  <SocialNetworks />
</footer>
