---
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";
---

<script>
  const menu = document.getElementById("open-menu");
  const close = document.getElementById("close-menu");
  const aside = document.getElementById("mobile-menu");

  const toggleMenu = (aside: HTMLElement) => {
    document.body.classList.toggle("overflow-hidden");
    aside.classList.toggle("hidden");
  };

  if (menu && aside) {
    menu.addEventListener("click", () => toggleMenu(aside));
  }

  if (close && aside) {
    close.addEventListener("click", () => toggleMenu(aside));
  }
</script>

<header
  class="flex h-14 mt-8 bg-blue-800 text-white rounded-md dark:bg-gray-300 dark:text-black">
  <nav
    id="mobile-nav"
    class="flex md:hidden w-full justify-between items-center px-4">
    <Image
      src="/logo.png"
      width={32}
      height={32}
      alt="Logo del sitio web de Alejandro Acosta"
    />
    <button
      id="open-menu"
      class="p-1 active:bg-gray-200 rounded-md">
      <Icon
        name="material-symbols:menu"
        size={32}
      />
    </button>
  </nav>

  <nav
    id="desktop-nav"
    class="hidden md:flex items-center w-full">
    <ul class="flex flex-grow justify-around items-center">
      <li class="cursor-pointer">Sobre mi</li>
      <li class="cursor-pointer">Proyectos</li>
      <li class="cursor-pointer">Blog</li>
      <li class="cursor-pointer">Contacto</li>
    </ul>
  </nav>
</header>

<aside
  id="mobile-menu"
  class="hidden absolute top-0 right-0 w-full h-full bg-opacity-90 bg-zinc-950">
  <section class="w-2/4 h-full ml-auto pt-8 pl-8 pr-6 bg-zinc-800">
    <div class="h-14 flex items-center justify-end px-4">
      <button
        id="close-menu"
        class="p-1 active:bg-zinc-700 rounded-md">
        <Icon
          name="material-symbols:close"
          size={32}
        />
      </button>
    </div>

    <ul class="flex flex-col gap-4">
      <li class="cursor-pointer">Sobre mi</li>
      <li class="cursor-pointer">Proyectos</li>
      <li class="cursor-pointer">Blog</li>
      <li class="cursor-pointer">Contacto</li>
    </ul>
  </section>
</aside>
