<header
    class="flex max-w-3xl h-14 mt-8 mx-8 md:mx-auto bg-blue-800 text-white rounded-md dark:bg-gray-300 dark:text-black">
    <nav class="flex items-center w-full">
      <ul class="flex flex-grow justify-around items-center">
        <li class="cursor-pointer">Sobre mi</li>
        <li class="cursor-pointer">Proyectos</li>
        <li class="cursor-pointer">Blog</li>
        <li class="cursor-pointer">Contacto</li>
      </ul>
    </nav>
  </header>