---
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";

const url = Astro.url;
const pathname = url.pathname;
---

<header
  class="flex h-14 mt-8 bg-blue-800 text-white rounded-md dark:bg-gray-300 dark:text-black">
  <nav
    id="mobile-nav"
    class="flex md:hidden w-full justify-between items-center px-4">
    <div class="p-2 rounded-md bg-white dark:bg-inherit">
      <Image
        src="/logo.png"
        width={24}
        height={24}
        alt="Logo del sitio web de Alejandro Acosta"
      />
    </div>
    <button
      id="open-menu"
      class="p-1 active:bg-gray-200 rounded-md">
      <Icon
        name="material-symbols:menu"
        size={32}
      />
    </button>
  </nav>

  <nav
    id="desktop-nav"
    class="hidden md:flex items-center w-full">
    <ul class="flex flex-grow justify-around items-center">
      <li
        class="hover:text-blue-600 cursor-pointer"
        class:list={[{ "text-blue-600": pathname === "/" }]}>
        <a href="/">Sobre mi</a>
      </li>
      <li
        class="hover:text-blue-600 cursor-pointer"
        class:list={[{ "text-blue-600": pathname.startsWith("/projects") }]}>
        <a href="/">Proyectos</a>
      </li>
      <li
        class="hover:text-blue-600 cursor-pointer"
        class:list={[{ "text-blue-600": pathname.startsWith("/articles") }]}>
        <a href="/articles/">Artículos</a>
      </li>
      <li
        class="hover:text-blue-600 cursor-pointer"
        class:list={[{ "text-blue-600": pathname === "/contact" }]}>
        <a href="/">Contacto</a>
      </li>
    </ul>
  </nav>

  <div class="hidden h-14 lg:flex justify-center absolute right-8">
    <button
      id="desktop-theme-switcher"
      class="theme-switcher p-1 px-4 active:bg-gray-200 rounded-md bg-zinc-900 text-white dark:bg-blue-800">
      <Icon
        class="block dark:hidden"
        name="material-symbols:brightness-4-outline"
        size={32}
      />
      <Icon
        class="hidden dark:block"
        name="material-symbols:brightness-5-outline"
        size={32}
      />
    </button>
  </div>
</header>

<aside
  id="mobile-menu"
  class="hidden absolute z-50 top-0 right-0 w-full h-full bg-opacity-30 dark:bg-opacity-90 bg-zinc-950">
  <section
    class="flex flex-col justify-between w-2/4 h-full ml-auto pt-8 pl-8 pr-6 bg-white dark:bg-zinc-800">
    <div>
      <div class="h-14 flex items-center justify-end px-4">
        <button
          id="close-menu"
          class="p-1 active:bg-zinc-700 rounded-md">
          <Icon
            name="material-symbols:close"
            size={32}
          />
        </button>
      </div>

      <ul class="flex flex-col gap-4">
        <li class="cursor-pointer">
          <a href="/">Sobre mi</a>
        </li>
        <li class="cursor-pointer">
          <a href="/">Proyectos</a>
        </li>
        <li class="cursor-pointer">
          <a href="/articles/">Artículos</a>
        </li>
        <li class="cursor-pointer">
          <a href="/">Contacto</a>
        </li>
      </ul>
    </div>

    <div class="flex pb-4">
      <button
        id="mobile-theme-switcher"
        class="theme-switcher w-full p-2 active:bg-zinc-900 dark:active:bg-blue-900 rounded-md bg-zinc-800 text-white dark:bg-blue-800">
        <div class="hidden justify-between items-center dark:flex">
          <span> Claro</span>
          <Icon
            name="material-symbols:brightness-5-outline"
            size={24}
          />
        </div>
        <div class="flex justify-between items-center dark:hidden">
          <span> Oscuro</span>
          <Icon
            name="material-symbols:brightness-4-outline"
            size={24}
          />
        </div>
      </button>
    </div>
  </section>
</aside>
