<div
  class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl
  prose-h2:mt-6
  prose-a:text-blue-600 prose-img:rounded-lg
  prose-headings:underline prose-headings:decoration-blue-600 prose-headings:underline-offset-4">
  <slot />
</div>
